<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>vibrantjs form</title>
</head>
<body>
    <div id="app">
        <input type="file" id="image_form" v-on:change="setImg">
        <div v-if="imgSetted">
            <img v-bind:src="blobUrl" v-on:load="onLoadImg" v-show="imgLoaded">
            <div v-show="!imgLoaded">
                <p>Loading...</p>
            </div>
            <p>この画像で決定する</p>
        </div>
        <div v-if="imgLoaded">
            <button v-on:click="convert">決定!</button>
        </div>
        <div v-if="result">
            <p>あなたの選んだカクテルは<span v-bind:style="{color: resultColor}">{{ result.name }}</span>です！</p>
            <p>{{ result.word }}</p>

            <a v-bind:href="shareHref" target="blank_">
                Twiiterでシェアする
            </a>
        </div>
    </div>
</body>
<script src="./static/js/Vibrant.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="./static/js/script.js"></script>
</html>
