<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>カクテピ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no,user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="static/img/ck_ogp.png">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="static/css/styles.min.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="bg" v-bind:class="{ 'bg-calculate': isCalculating }">
        <div id="logo"></div>
        <!--<p><a href="https://giphy.com/gifs/cinemagraph-bartender-takumi-tdHfgqwkxeDy8">via GIPHY</a></p>-->
        <div class="input_file" v-if="!imgLoaded">
            <label class="input_btn" for="image_form">
                <img id="upload-img" src="static/img/ck-upload.png"/>
            </label>
            <input accept="image/*" id="image_form" type="file" v-on:change="setImg">
        </div>
        <div class="upload_file" v-if="(imgSetted && !result) || isCalculating">
            <div class="preview" v-show="imgLoaded">
                <div>
                    <img v-bind:src="blobUrl" v-on:load="onLoadImg">
                </div>
                <div class="wrapper">
                    <button class="btn" v-if="imgLoaded" v-on:click="convert">画像を解析する</button>
                </div>
                <div class="wrapper" v-show="isCalculating">
                    <button class="btn-load">マスターが解析中...</button>
                    <div id="bar"></div>
                </div>
                <div v-show="!imgLoaded">
                    <p>Loading...</p>
                </div>
            </div>
        </div>
        <div v-show="!isCalculating && result">
            <div id="result-img" class="result-img">
                <img v-bind:src="blobUrl">
            </div>
            <div id="result-area" class="result-area">
                <div class="info-result">
                    <div>
                        <img v-bind:src="resultImgUri">
                    </div>
                    <div v-if="result">
                        <label>あなたにオススメのカクテルは</label>
                        <p v-bind:style="{color: resultColorCode}">「{{ result.name }}」</p>
                        <label class="mt-5">酒言葉</label>
                        <p>「{{ result.word }}」あなたへ</p>
                    </div>
                </div>
                <div class="btn-result">
                    <a class="hover-buru" v-bind:href="resultShareUri" target="blank_">Twiiterでシェアする</a>
                    <button class="hover-buru" v-on:click="reset">もう一度やる</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="./static/js/Vibrant.min.js"></script>
<script type="text/javascript" src="./static/js/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ismobilejs/isMobile.min.js"></script>
<script type="text/javascript" src="./static/js/script.min.js"></script>
</html>
