@import "sanitize";
$brand-c: #FFFF64;
$gray-l: #bcbcbc;
$gray-b: #4d4d4d;

@mixin media-queries-tab {
    @media screen and (min-width:600px) and (max-width:960px) {
        @content;
    }
}
@mixin media-queries-pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}
/**
 Effect
 */
 @keyframes wave {
     0% {
         transform: translateX(-50%) rotate(0deg);
     }
     100% {
         transform: translateX(-50%) rotate(360deg);
     }
 }

@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }

  5% {
    transform: skew(5deg, 4.2deg);
  }

  10% {
    transform: skew(-4deg, -3deg);
  }

  15% {
    transform: skew(3deg, 2.2deg);
  }

  20% {
    transform: skew(-2deg, -1.5deg);
  }

  25% {
    transform: skew(0.9deg, 0.9deg);
  }

  30% {
    transform: skew(-0.6deg, -0.6deg);
  }

  35% {
    transform: skew(0.3deg, 0.3deg);
  }

  40% {
    transform: skew(-0.2deg, -0.2deg);
  }

  45% {
    transform: skew(0.1deg, 0.1deg);
  }

  50% {
    transform: skew(0deg, 0deg);
  }
}

.hover-op {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
.hover-buru {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:hover {
        cursor: pointer;
        animation: skew 2s linear;
    }
}
.buru {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    animation: skew 3s linear infinite;
    &:hover {
        cursor: pointer;
    }
}
/**
 Common
 */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
}
body{
    background: black;
}

body,button,p {
    font-size: 1.4rem;
    font-family: 'Play', 'Noto Sans JP', sans-serif;
}

div {
    display: block;
}

main {
    overflow: hidden;
}

/**
 Header
 */
header{
    z-index:2;
    & a.logo{
        position: relative;
        z-index: 1;
        margin: 5px 10px;
        & svg{
            fill: #808080;
            width: 46px;
            height: auto;
            @include media-queries-pc {
                width: 75px;
                margin-top: 15px;
                margin-left: 20px;
            }
        }
    }
    & .title{
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        margin-top: 10%;
        width: 100%;
        @include media-queries-pc {
            margin-top: 46px;
        }
        & #logo{
            height: 90px;
            @include media-queries-pc {
                height: 100px;
            }
        }
        & a{
            position: absolute;
            right: 14%;
            margin-top: 8%;
            width: 25px;
            @include media-queries-pc {
                right: 3%;
                margin-top: -5%;
            }
            & svg{
                @include media-queries-pc {
                    width: 25px;
                }
            }
        }
        & .info-icon {
            fill: #808080;
        }
    }
}

/**
 Button
 */
input[type="file"],
button,
select {
    outline: none;
}
 .wrapper {
    height: 100%;
}
.btn {
    color: white;
    background: $gray-l;
    border-radius: 5px;
    width: 67%;
    font-size: 18px;
    padding: 20px 40px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 1s;
    z-index: 1;
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.16);
    box-shadow: 0 6px 20px rgba(0,0,0,.16);
    @include media-queries-pc {
        width: 19.5%;
        top: 95%;
    }
}

.btn:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 80px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: wave 3s infinite linear;
    transition: all .5s;
    z-index: -1;
}
.btn:hover {
    color: $gray-b;
    background: rgba(188, 188, 188,0.5);
    cursor: pointer;
}

.btn:hover:before {
    top: 15px;
    background: $brand-c;
}

.btn-load{
    @extend .btn;
    color: $gray-b;
    background: rgba(188, 188, 188,0.5);
    &:before{
        top: 13px;
        background: $brand-c;
    }
    &:hover{
        cursor: none;
    }
}
.btn-result{
    display: flex;
    justify-content: center;
    width: 100%;
    @include media-queries-pc {
        width: 84%;
        margin-top: 2%;
    }
    a,button{
        text-align: center;
        color: white;
        background: $gray-l;
        border-radius: 5px;
        width: 46%;
        margin: 4% 2% 0;
        font-size: 1.4rem;
        padding: 20px 15px;
        overflow: hidden;
        transition: all 1s;
        z-index: 1;
        -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.16);
        box-shadow: 0 6px 20px rgba(0,0,0,.16);
        @include media-queries-pc {
            width: 50%;
            margin: 2% 2% 0;
            padding: 16px;
        }
    }
    a{
        text-decoration: none;
        background: #08a0e9;
    }
    button{
        background: $brand-c;
        color: $gray-b;
    }
}

/**
 Body
 */
.bg{
	height: 100%;
	width: 100%;
	background: url(../img/oc-bartender-static.png) no-repeat center;
	background-size: cover;
	z-index: 0;
	position: relative;
    overflow: inherit;
}
.bg:before{
	content: '';
	background: inherit;
	filter: blur(3px) grayscale(90%);
	position: fixed;
	top: -20px;
	bottom: -30px;
	left: -30px;
	right: -30px;
	z-index: -2;
}
.bg-calculate{
    height: 100%;
	width: 100%;
    background: url(../img/oc-bartender.gif) no-repeat center;
	background-size: cover;
	z-index: 0;
	position: relative;
}
.bg-calculate:before{
	content: '';
	background: inherit;
	filter: blur(3px) grayscale(90%);
	position: fixed;
	top: -20px;
	bottom: -30px;
	left: -30px;
	right: -30px;
	z-index: -2;
}
.input_file > input{
    display: none;
}
.input_file {
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    label img{
        border-radius: 5px;
        margin-bottom: 5%;
        width: 250px;
        height: 250px;
        @include media-queries-pc {
            margin-bottom: 10%;
            width: 300px;
            height: 300px;
        }
    }
}
.input_btn:hover{
    cursor: pointer;
    animation: skew 2.3s linear;
    opacity: 0.8;
}
.input_btn img{
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.16);
    box-shadow: 0 6px 20px rgba(0,0,0,.16);
}

.upload_file{
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.preview {
    img {
        border-radius: 5px;
        margin-bottom: 9%;
        width: 250px;
        height: 250px;
        object-fit: contain;
        background: rgba(255,255,255,0.5);
        @include media-queries-pc {
            margin-bottom: 10%;
            width: 300px;
            height: 300px;
        }
    }
}

#bar{
    background: rgba(255,255,100,0.8);
    width: 10px;
    position: absolute;
    height: 250px;
    top: 28.5%;
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.16);
    box-shadow: 0 6px 20px rgba(0,0,0,.16);
    @include media-queries-pc {
        height: 300px;
        top: 26%;
    }
}

.result-img{
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img:nth-child(1) {
        margin-top: -10%;
        border-radius: 5px;
        width: 250px;
        height: 250px;
        object-fit: contain;
        background: rgba(255,255,255,0.5);
        @include media-queries-pc {
            margin-top: 1.25%;
            position: absolute;
            width: 300px;
            height: 300px;
        }
    }
    img:nth-child(2){
        position: absolute;
        top: 35%;
        width: 130px;
        background: none;
    }
}
.result-area{
    position: absolute;
    top: 71%;
    width: 95%;
    margin: 2%;
    padding: 5% 1%;
    margin-bottom: 20%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include media-queries-pc {
        top: 12%;
        left: 47%;
        width: 35%;
        height: 300px;
        padding: 50px 1%;
        margin-bottom: 0;
    }
}
.info-result{
    display: flex;
    align-items: center;
    width: 95%;
    @include media-queries-pc {
        width: 80%;
    }
    div:nth-child(1){
        text-align: center;
        width: 30%;
        img{
            width: 60px;
        }
    }
    div:nth-child(2){
        width: 70%;
        label{
            color: white;
            @include media-queries-pc {
                font-size: 1.2rem;
            }
        }
        label.mt-5{
            display: block;
            margin-top: 5%;
        }
        p{
            border-radius: 5px;
            padding: 4px 2px;
            line-height: 1.2;
            letter-spacing: .1em;
            text-align: center;
            color: white;
            font-weight: bold;
            font-style: italic;
            font-size: 1.8rem;
            margin: 0;
        }
    }
}
.modal-content {
    position:fixed;
    display:none;
    z-index: 5;
    top: 0;
    max-height: 100%;
    padding: 12% 7%;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include media-queries-pc{
        width: auto;
        height: auto;
        padding: 5% 25%;
    }
    & .comment{
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 10%;
        @include media-queries-pc{
            margin-bottom: 4%;
        }
    }
    & p {
        font-style: italic;
        padding: 2% 1%;
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
        @include media-queries-pc {
            padding: 1%;
            margin: 0 auto;
            width: 79%;
            font-size: 1.8rem;
        }
    }
    & p.normal{
        font-style: normal;
    }
    & p.note{
        margin-bottom: 2%;
        text-align: left;
        padding: 0;
        color: $gray-l;
        font-style: normal;
        font-size: 1.2rem;
        @include media-queries-pc {
            margin-bottom: 1%;
        }
    }
    & span{
        color: $brand-c;
    }
    & .link-area{
        text-align: left;
        padding-top: 10%;
        @include media-queries-pc {
            padding-top: 4%;
        }
        & p{
            @include media-queries-pc {
                width: 83%;
            }
        }
        & div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 5%;
            @include media-queries-pc {
                padding-top: 2%;
            }
        }
    }
    & a{
        padding: 0;
        color: $gray-l;
        text-decoration: none;
        font-size: 1.2rem;
        @include media-queries-pc {
            font-size: 1.4rem;
        }
    }
}

.modal-body{
    color: white;
    margin-top: 15%;
    @include media-queries-pc {
        margin-top: 10%;
    }
}
.modal-close{
    position: absolute;
    right: 15px;
    top: 0;
    @include media-queries-pc {
        right: 65px;
        top: 25px;
    }
    color: white;
    a {
        font-size: 35px;
        @include media-queries-pc {
            font-size: 60px;
        }
    }
}

.modal-overlay {
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    opacity: 0.8;
}
